.kondakov{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(99, 165, 0);
    border: solid 3px black ;
    display: inline;
    padding: 10px 10px 10px 10px;
    text-align: center;
}